html, body {
  width: 180px;
  font-family: Helvetica, sans-serif;
  background-color: rgb(50,50,50);
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  text-align: center;
  margin: 10px;
  font-size: 13pt;
  font-weight: bold;
  color: white;
}

.download:hover {
  background: linear-gradient(-90deg, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.telegram:hover {
  background: linear-gradient(-90deg,#00ff9b,#1b3bda);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}