html, body {
  width: 250px;
  font-family: Helvetica;
  background-color: white;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  text-align: center;
  margin: 10px;
  font-size: 18pt;
  color: black;
}

.download:hover {
  background: linear-gradient(-90deg, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.telegram:hover {
  background: linear-gradient(to right,#00ff9b,#1b3bda);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}